<div class="bg-cart">
    <div class="close-cart" onclick="closeCart()">
    </div>
    <div class="main-cart">
        <div class="header-cart">
            <h2 class="title-cart">GIỎ HÀNG CỦA BẠN</h2>
            <i class="fa-solid fa-xmark" onclick="closeCart()"></i>
        </div>
        <div class="list-cart">
            
        </div>
    
        <div class="footer-cart">
            <hr/>
            <div class="total-price-cart">
                <p>Thành tiền:</p>
                <span>2.000.000 đ</span>
            </div>
            <a class="miniCart_ctaBtn" href="/checkout/"><span>
                THANH TOÁN NGAY
                <i class="fa-solid fa-right-long"></i>
            </a>
        </div> 
    </div>
    
</div>