<div class="bg-cart">
    <div class="close-cart" onclick="closeCart()">
    </div>
    <div class="main-cart">
        <div class="header-cart">
            <h2 class="title-cart">GIỎ HÀNG CỦA BẠN</h2>
            <i class="fa-solid fa-xmark" onclick="closeCart()"></i>
        </div>
        <div class="list-cart">
            
            <div class="item-cart">
                <div class="left-cart">
                    <i class="fa-solid fa-circle-xmark"></i>
                    <img width="90px" src="/images/product/image_day-da-brown-14mm-hamilton_1.jpg" />
                </div>
                <div class="center-cart">
                    <div class="top-center-cart">
                        <p class="name-product-cart">CITRINE</p>
                        <div class="price-product-cart">
                            <p class="pro-price">20000000</p>
                            <p class="discount-price">20000000</p>
                        </div>
                    </div>
                    <div class="quantity-product">
                        <i class="fa-solid fa-circle-minus"></i>
                        <p class="display-quantity">Qty: <span>3</span></p>
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                </div>
            </div>
            <div class="item-cart">
                <div class="left-cart">
                    <i class="fa-solid fa-circle-xmark"></i>
                    <img width="90px" src="/images/product/image_day-da-brown-14mm-hamilton_1.jpg" />
                </div>
                <div class="center-cart">
                    <div class="top-center-cart">
                        <p class="name-product-cart">CITRINE</p>
                        <div class="price-product-cart">
                            <p class="pro-price">20000000</p>
                            <p class="discount-price">20000000</p>
                        </div>
                    </div>
                    <div class="quantity-product">
                        <i class="fa-solid fa-circle-minus"></i>
                        <p class="display-quantity">Qty: <span>3</span></p>
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                </div>
            </div>

            <div class="item-cart">
                <div class="left-cart">
                    <i class="fa-solid fa-circle-xmark"></i>
                    <img width="90px" src="/images/product/image_day-da-brown-14mm-hamilton_1.jpg" />
                </div>
                <div class="center-cart">
                    <div class="top-center-cart">
                        <p class="name-product-cart">CITRINE</p>
                        <div class="price-product-cart">
                            <p class="pro-price">20000000</p>
                            <p class="discount-price">20000000</p>
                        </div>
                    </div>
                    <div class="quantity-product">
                        <i class="fa-solid fa-circle-minus"></i>
                        <p class="display-quantity">Qty: <span>3</span></p>
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                </div>

            </div>

        </div>
    
        <div class="footer-cart">
            <hr/>
            <div class="total-price-cart">
                <p>Thành tiền:</p>
                <span>2.000.000 đ</span>
            </div>
            <a class="miniCart_ctaBtn" href="/checkout/"><span>
                THANH TOÁN NGAY
                <i class="fa-solid fa-right-long"></i>
            </a>
        </div> 
    </div>
    
</div>