<footer class="bg-light text-center text-lg-start text-muted" style="background-color: white;">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block" style="background-color: white;"><span>Kết nối với chúng tôi:</span></div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a><a href=""
                                                                                       class="me-4 text-reset"><i class="fab fa-twitter"></i></a><a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a><a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a><a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a><a href="" class="me-4 text-reset"><i class="fab fa-github"></i></a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5" >
            <div class="row pt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-gem me-3"></i>ĐỒNG HỒ</h6>
                    <p>
                        Chúng tôi là shop bán đồng hồ chính hãng hàng đầu với nhiều năm kinh nghiệm trong lĩnh vực này.
                        Chúng tôi cam kết mang đến những sản phẩm chất lượng nhất cho khách hàng của mình.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">Đồng hồ nữ</a></p>
                    <p><a href="#!" class="text-reset">Đồng hồ nam</a></p>
                    <p><a href="#!" class="text-reset">Đồng hồ thông minh</a></p>
                    <p><a href="#!" class="text-reset">Đồng hồ cơ</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home me-2"></i>New York, NY 10012, US</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:<a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>