<link rel="stylesheet" href="~/css/header.css" />

<header class="header">
    <nav class="nav_main">
        <img src="~/images/logo.png">
        <ul>
            <li><a class="active" href="/">Trang chủ</a></li>
            <li><a class="" href="/product">Sản phẩm</a></li>
            <li><a class="" href="/contact">Liên hệ</a></li>
        </ul>
        <div class="navbar-user">
            <a class="cart_icon" href="javascript:void(0)" onclick="openCart()">
                <i class="fa fa-shopping-cart"></i><span class="quantity_cart">0</span>
            </a><a href="/profile"><i class="fa fa-user"></i></a><a class="hide menu_mobile" href="#">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="menu_item_mobile" style="display: none;">
            <a class="active" href="/">Trang chủ</a>
            <a class="" href="/products">Sản phẩm</a>
            <a class="" href="/contact">Liên hệ</a>
        </div>
    </nav>
</header>

<script src="~/js/header.js"></script>
