@model HomeViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}
@section Styles{
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

@Html.Partial("~/Views/Partial/_Carousel.cshtml")

@Html.Partial("~/Views/Partial/_Policies.cshtml")

<div class="best-sellers mt-4">
    <h1 class="h1-title text-center">ĐỒNG HỒ MỚI NHẤT</h1>
    <a href="/product" class="text-uppercase text-black d-flex justify-content-center align-items-center gap-1" style="font-weight:500; font-size:14px">Xem tất cả <img src="~/images/icon-right.svg" /></a>
    
    <div class="container-best-sellers">
        @foreach(var tmp in Model.NewClock)
        {
            @Html.Partial("~/Views/Partial/_ItemProduct.cshtml", tmp)
        }
    </div>

</div>

<div class="best-sellers mt-4">
    <h1 class="h1-title text-center">TRANG SỨC MỚI NHẤT</h1>
    <a href="/product" class="text-uppercase text-black d-flex justify-content-center align-items-center gap-1" style="font-weight:500; font-size:14px">Xem tất cả <img src="~/images/icon-right.svg" /></a>

    <div class="container-best-sellers">
        @foreach (var tmp in Model.NewJewelry)
        {
            @Html.Partial("~/Views/Partial/_ItemProduct.cshtml", tmp)
        }
    </div>

</div>

<div class="story-home container">
    <img src="~/images/logo_small.svg" alt="logo" class="story_logo">
    <p class="story_text">Cuối năm 2016, 3 chàng trai đam mê Startup và Đồng hồ quyết định thành lập Curnon, nhưng ngay từ đầu, chúng tôi đã biết rằng: Curnon sinh ra với một sứ mệnh lớn lao hơn, không chỉ dừng lại là một thương hiệu đồng hồ. Chúng tôi muốn mang tới một nguồn cảm hứng, một sự thay đổi về tư duy, về suy nghĩ và chính những cái chúng tôi gọi là trải nghiệm cho người trẻ.</p>
    <img class="story_image" alt="logo" src="~/images/story-image.png">
</div>