@using ShopMVC.Database.Model;
@model string

<div class="card-product">
    <div class="image-product">
        <img src="@Model" />
        <button class="text-uppercase">Thêm giỏ hàng</button>
    </div>
    <p class="sub-title-card">WEIMAR</p>
    <p class="name-card">Calm</p>
    <div class="block-price">
        <p class="pro-price">2.074.00 đ</p>
        <p class="discount-price">2.074.00 đ</p>
    </div>
</div>