.image-carouse{
    height:450px;
    object-fit:cover;
}

.policies {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}
.policies_icon {
    height: 20px;
}
.policies p{
    font-size: 12px;
}

.policies_text{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

}

.container-best-sellers{
    margin-top:50px;
    display:flex;
    flex-direction:row;
    gap:25px;
    flex-wrap:wrap;
    justify-content:center;
}

.story-home {
    margin-top: 80px;
    text-align: center;
}
.story_text {
    max-width: 700px;
    margin: auto;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: .02em;
    color: rgba(22, 26, 33, .6);
}
.story_logo{
    width:37px;
    margin-bottom:30px;
}
.story_image {
    width: 100%;
}