

.container-best-sellers{
    margin-top:50px;
    display:flex;
    flex-direction:row;
    gap:25px;
    flex-wrap:wrap;
    justify-content:center;
}

.story-home {
    margin-top: 80px;
    text-align: center;
}
.story_text {
    max-width: 700px;
    margin: auto;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: .02em;
    color: rgba(22, 26, 33, .6);
}
.story_logo{
    width:37px;
    margin-bottom:30px;
}
.story_image {
    width: 100%;
}