.detail-product {
    padding-top:60px;
    background: linear-gradient(rgba(106, 106, 149, 0.15) 0%, rgba(22, 26, 33, 0) 100%);
}
.main-detail {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.main-gallery .image-detail-active {
    max-width: 562px;
    max-height: 562px;
    object-fit:cover;
}
.main-gallery {
    margin: auto;
}
.gallery {
    display: flex;
    flex: 2;
    gap:10px;
    flex-wrap:wrap;
}
.list-image-detail{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}
.item-image-detail {
    width: 68px;
    height:68px;
    object-fit:cover;
    border-radius: 50%;
    background-color: white;
}
.item-image-detail.active {
    outline:1px solid black;
}
.main-info-product {
    flex: 1;
    padding: 30px;
    background: linear-gradient(180deg, #f8f7f4, hsla(45, 22%, 96%, 0));
}
.info-product{
    text-align:center;
}
.info-product .sub-title-detail{
    font-size:14px;
    color: #161a21;
    opacity: .6;
    line-height: 14px;
}

.info-product .title-detail{
    color: #161a21;
    font-size: 32px;
    line-height: 32px;
    padding: 12px 0 24px;
}

.price-detail {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    gap:20px;
}
.price-detail .price-buy{
    font-size:16px;
    font-weight:bold;
}
.price-detail .price-root{
    letter-spacing: .02em;
    text-decoration-line: line-through;
    color: #161a21;
    font-size:12px;
}

.star-comment img{
    color:yellow;
}
.status-product {
    font-size: 14px;
    padding: 12px 0 24px;
}
.status-product span{
    font-size: 14px;
    color:rgb(59, 177, 0);

}
.discount-rate {
    padding: 12px 0 24px;
    font-size: 12px;
    font-weight: 400;
}
.discount-rate span{
    color:rgb(255, 94, 87);
}
.action-product{
    display:flex;
    flex-direction:column;
    gap:10px;

}
.action-product button{
    padding: 22px 0;
    border:none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -.02em;
    transition: .3s ease-out;

}
.action-product .buy-now{
    background: #53c66e;
    color: #f8f7f4;
    
}
.action-product .buy-now:hover{
    transform: scale(1.01);
}
.action-product .add-cart{
    outline: 1px solid black;
    color: black;
    
}
.action-product .add-cart:hover{
    background: black;
     color: white;
}
.image-detail-active{
    transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 1200px) {
    .list-image-detail {
        flex-direction: row;
        margin:auto;
    }
}
.tab-des-info{
    margin-top:30px;
}
#myTab {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    text-transform: uppercase;
}
#myTab button {
    font-size: 16px;
    text-transform: uppercase;
    color:black;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .02em;
    padding:20px;
}
#myTab .nav-link{
    border:none;
}
#myTab button.active {
    background-color:#f8f7f400;
    border: none;
    border-bottom: 2px solid black;
}

#myTabContent .tab-pane{
    padding-top:20px;
    color: #444444;
    font-size:14px;
}
#myTabContent .tab-pane p {
   padding:6px 0;
}
#myTabContent #info{
    font-size:16px;
}
.productInfo_boxImg img{
    width: 60px;
    margin: 10px;
}

.review {
    padding-top:80px;
}
.review h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: .02em;
    color: #161a21;
}
.list-review{
    margin-top:20px;
}
.item-review {
    background-color: white;
    padding: 10px;
}
.reviews_reviewer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar_avatar{
    background-color:lightgray;
    padding: 10px 20px;
    text-align:center;
    border-radius:50%;

}
.reviews_info{
    flex:1;
}
.reviews_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .02em;
    color: #161a21;
    margin: 0;
    margin-bottom: 5px;
}
.reviews_verifyStatus{
    font-size: 12px;
    line-height: 12px;
    letter-spacing: .02em;
    color: #161a21;
    opacity: .6;
    margin: 0;
}

.content-review {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .02em;
    color: #161a21;
    margin-top:8px;
}


/*Page Product*/
.main-product{
    margin-top:40px;
}
.title-list-product {
    font-size: 32px;
    text-align: left;
    line-height: 32px;
    font-weight:bold;
    text-transform: uppercase;
}
.des-list-product {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .02em;
    color: #161a21;
    opacity: .6;
}

.display-product{
    margin-top:20px;
    display:grid;
    grid-template-columns: auto auto auto auto;
}

/*Filter*/
.filter-product{
    background-color:lightgray;
}
.filter-product form{
    display:flex;
    flex-wrap:wrap;
    gap:1px;
}
.filter-product .filter-item{
    height:45px;
}
.filter-product .filter-item{
    height:45px;
    border:none;
    outline:none;
    color:#757575;

}
.filter-product .filter-item:focus{
    border:none;
    outline:none;

}
.filter-product button{
    padding:10px 20px;
    border:none;
    flex:0.1;
}

.f-1{
    flex:1;
}
.f-2 {
    flex: 2;
}
@media only screen and (max-width: 430px) {
    .filter-product button {
        flex: 1;
    }
}
.
/*Filter*/